.super-mario {
    width: 200px;
    position: absolute;
    left: 100px
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    left: 100px;
    top: 350px;
  }
  
  .baloon {
    position: absolute;
    right: 600px;
    width: 300px;

  }
  
  .speech {
    font-size: 25px;
    position: absolute;
    top: 120px;
    right: 650px;
    z-index: 1;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    right: 400px;
    top: 300px
  }