
        body{font-style: oblique;
            font-size: 16px;
        }
        h1{
            font-size: 65px;
            color: orange;
            font-family: sans-serif;
        }
        ul{
            background-color: teal;
            line-height: 50px;
            text-align: center;
        }
        .peul{
            background-color: thistle;
        }
        p{
            font-size: 3em;
            font-weight: 600;
        }
        #amarelo{
            background-color: yellow;
        }
        #vermelho{
            background-color: red;
        }
        #marrom{
            background-color: brown;
        }
